<a href="https://colab.research.google.com/github/deepu-san/Tasks/blob/main/GDTC%20Task/GDTC_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ins=pd.read_csv("https://github.com/deepu-san/Tasks/blob/main/GDTC%20Task/insurance_data.csv?raw=true")
df_emp=pd.read_csv("https://github.com/deepu-san/Tasks/raw/main/GDTC%20Task/employee_data.csv")
df_vend=pd.read_csv("https://raw.githubusercontent.com/deepu-san/Tasks/main/GDTC%20Task/vendor_data.csv")

In [3]:
df_ins.dtypes

TXN_DATE_TIME                object
TRANSACTION_ID               object
CUSTOMER_ID                  object
POLICY_NUMBER                object
POLICY_EFF_DT                object
LOSS_DT                      object
REPORT_DT                    object
INSURANCE_TYPE               object
PREMIUM_AMOUNT              float64
CLAIM_AMOUNT                  int64
CUSTOMER_NAME                object
ADDRESS_LINE1                object
ADDRESS_LINE2                object
CITY                         object
STATE                        object
POSTAL_CODE                   int64
SSN                          object
MARITAL_STATUS               object
AGE                           int64
TENURE                        int64
EMPLOYMENT_STATUS            object
NO_OF_FAMILY_MEMBERS          int64
RISK_SEGMENTATION            object
HOUSE_TYPE                   object
SOCIAL_CLASS                 object
ROUTING_NUMBER                int64
ACCT_NUMBER                  object
CUSTOMER_EDUCATION_LEVEL     object
CLAIM_STATUS                 object
INCIDENT_SEVERITY            object
AUTHORITY_CONTACTED          object
ANY_INJURY                    int64
POLICE_REPORT_AVAILABLE       int64
INCIDENT_STATE               object
INCIDENT_CITY                object
INCIDENT_HOUR_OF_THE_DAY      int64
AGENT_ID                     object
VENDOR_ID                    object
dtype: object

In [4]:
df_ins.head(2)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592

In [5]:
df_ins['TXN_DATE_TIME'] = pd.to_datetime(df_ins['TXN_DATE_TIME'].str[:10],format='%Y-%m-%d', errors='coerce')

In [6]:
df_emp.head(2)

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204

In [7]:
df_emp.rename(columns = {'ADDRESS_LINE1':'ADDRESS_LINE1_emp','ADDRESS_LINE2':'ADDRESS_LINE2_emp',
                        'CITY':'CITY_emp','STATE':'STATE_emp','POSTAL_CODE':'POSTAL_CODE_emp'},inplace = True)

In [8]:
df_emp.shape

(1200, 10)

In [9]:
df_vend.head(2)

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117

In [10]:
df_vend.rename(columns = {'ADDRESS_LINE1':'ADDRESS_LINE1_vend','ADDRESS_LINE2':'ADDRESS_LINE2_vend',
                        'CITY':'CITY_vend','STATE':'STATE_vend','POSTAL_CODE':'POSTAL_CODE_vend'},inplace = True)

# Task #1
Merge the 3 dataset and create 1 view of data.

You can merge insurance_data.csv and employee_data.csv on
AGENT_ID 

You can merge insurance_data.csv and vendor_data.csv on
VENDOR_ID 

Note: Use left Outer join as not all claims require Vendor

In [11]:
df13=pd.merge(df_ins,df_vend, how ='left',on='VENDOR_ID')
df13.head(2)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1_vend,ADDRESS_LINE2_vend,CITY_vend,STATE_vend,POSTAL_CODE_vend
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,Savannah,4,AGENT00413,VNDR00556,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,Montgomery,0,AGENT00769,VNDR00592,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0

In [12]:
df13.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1',
       'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID', 'VENDOR_NAME', 'ADDRESS_LINE1_vend',
       'ADDRESS_LINE2_vend', 'CITY_vend', 'STATE_vend', 'POSTAL_CODE_vend'],
      dtype='object')

In [13]:
df=pd.merge(df13,df_emp, how ='left',on='AGENT_ID')
df

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_vend,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_emp,ADDRESS_LINE2_emp,CITY_emp,STATE_emp,POSTAL_CODE_emp,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,32405.0,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,72701.0,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874
2,2020-06-01,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,72703.0,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333
3,2020-06-01,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,37215.0,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499
4,2020-06-01,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,20018.0,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,NaN,Melissa Scott,1990-10-12,2723 East Joyce Boulevard,NaN,Fayetteville,AR,72703,35413882,LFOJ76068590051807
9996,2021-06-30,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,94587.0,Freda Dudley,2013-01-17,1363 Dean Forest Road,NaN,Savannah,GA,31405,91206790,AHEF60771774635030
9997,2021-06-30,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,2492.0,Victor Perrin,1993-02-11,9912 Shirewick Way,NaN,Louisville,KY,40272,115241097,WREH18805592939657
9998,2021-06-30,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,21402.0,Maria Lynn,2010-04-16,302 East Granada Street,NaN,Fayetteville,AR,72703,13995380,AAZI21883736448048
9999,2021-06-30,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,94555.0,Carl Balado,2007-10-26,1713 Apian Way,NaN,Edmond,OK,73003,39790996,RPES05613584687957

# Task #2
Business Leader wants to find Top 3 Insurance Type where we are getting
most insurance claims?

In [14]:
df.groupby('INSURANCE_TYPE')['CLAIM_AMOUNT'].sum().sort_values(ascending=False).nlargest(3).reset_index()

  INSURANCE_TYPE  CLAIM_AMOUNT
0           Life      91478000
1       Property      41579000
2         Health      18254000

# Task #3
Business Leader wants to find Top 5 States where we are getting most insurance claims
for customer belonging to HIGH(H) risk segment?

In [15]:
df['RISK_SEGMENTATION'].value_counts()

L    4395
M    4150
H    1455
Name: RISK_SEGMENTATION, dtype: int64

In [16]:
df.loc[df['RISK_SEGMENTATION']=='H'].groupby('STATE')['CLAIM_AMOUNT'].sum().sort_values(ascending=False).nlargest(5).reset_index()

  STATE  CLAIM_AMOUNT
0    CA       3396500
1    AZ       1879500
2    AL       1855500
3    AR       1794700
4    CO       1524900

# Task #4
Business wants to create a new variable “COLOCATION” which will have following values 

IF
Customer State == Incident State == Agent Address State THEN 1 ELSE 0

Find the mean of this new column

In [17]:
df['COLOCATION']=np.where((df['STATE']==df['INCIDENT_STATE']) & (df['INCIDENT_STATE']==df['STATE_emp']),1,0)

In [18]:
df['COLOCATION'].value_counts()

0    9956
1      44
Name: COLOCATION, dtype: int64

# Task #5
Data entry error was detected in the data and you are required to correct it.

 If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
Then Update “AUTHORITY_CONTACTED” to Police.

In [19]:
df['AUTHORITY_CONTACTED'].value_counts()

Ambulance    4082
Police       2982
None         1945
Other         991
Name: AUTHORITY_CONTACTED, dtype: int64

In [20]:
df['POLICE_REPORT_AVAILABLE'].value_counts()

1    6928
0    3072
Name: POLICE_REPORT_AVAILABLE, dtype: int64

In [21]:
df.loc[(df['AUTHORITY_CONTACTED']!='Police') & (df['POLICE_REPORT_AVAILABLE']==1)]

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_emp,ADDRESS_LINE2_emp,CITY_emp,STATE_emp,POSTAL_CODE_emp,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,COLOCATION
5,2020-06-01,TXN00000006,A00003571,PLC00007244,2012-12-28,2020-05-20,2020-05-25,Life,87.02,63000,...,Luciano Jackson,2009-08-01,10826 Pointe Royal Drive,NaN,Bakersfield,CA,93311,35911575,VHQA45663806811975,0
10,2020-06-01,TXN00000011,A00007952,PLC00003007,2019-03-30,2020-05-20,2020-05-25,Life,61.45,92000,...,Joshua Losey,2004-10-09,2246 West Fairview Avenue,NaN,Montgomery,AL,36108,123461076,YIAT74328087165676,0
11,2020-06-01,TXN00000012,A00006313,PLC00002139,2016-07-22,2020-05-21,2020-05-26,Motor,101.15,8000,...,Michael Fowler,2002-10-08,1500 South Division Street,NaN,Guthrie,OK,73044,73263191,GBXZ93703464051375,0
12,2020-06-01,TXN00000013,A00003693,PLC00007839,2019-06-12,2020-05-24,2020-05-27,Health,157.95,11000,...,Charles George,1998-01-31,4717 Forest Hills Drive,NaN,Noble,OK,73068,112506777,PEUK68232037630713,0
16,2020-06-01,TXN00000017,A00007184,PLC00000118,2014-04-17,2020-05-13,2020-05-18,Property,114.42,39000,...,Troy Caldwell,1990-10-04,14 6th Street,#1,Medford,MA,2155,12632408,QBSF82653869882343,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2021-06-30,TXN00009992,A00008542,PLC00000807,2018-03-29,2021-06-26,2021-06-27,Travel,88.20,3000,...,Michael Blalock,2008-09-25,848 Vermont 14,NaN,Woodbury,VT,5650,129268260,TYIH56206438423496,0
9993,2021-06-30,TXN00009994,A00008267,PLC00009629,2016-08-22,2021-06-22,2021-06-25,Life,91.53,78000,...,James Santiago,1990-12-02,2115 Northwest 22nd Street,NaN,Oklahoma City,OK,73107,95424251,YVCD80951872205447,0
9995,2021-06-30,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,Melissa Scott,1990-10-12,2723 East Joyce Boulevard,NaN,Fayetteville,AR,72703,35413882,LFOJ76068590051807,0
9997,2021-06-30,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,Victor Perrin,1993-02-11,9912 Shirewick Way,NaN,Louisville,KY,40272,115241097,WREH18805592939657,0
9998,2021-06-30,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,Maria Lynn,2010-04-16,302 East Granada Street,NaN,Fayetteville,AR,72703,13995380,AAZI21883736448048,0

In [22]:
 df['AUTHORITY_CONTACTED'].mask((df['AUTHORITY_CONTACTED']!='Police') & (df['POLICE_REPORT_AVAILABLE']==1), 'Police', inplace=True)

In [23]:
df.loc[(df['AUTHORITY_CONTACTED']!='Police') & (df['POLICE_REPORT_AVAILABLE']==1)]

Empty DataFrame
Columns: [TXN_DATE_TIME, TRANSACTION_ID, CUSTOMER_ID, POLICY_NUMBER, POLICY_EFF_DT, LOSS_DT, REPORT_DT, INSURANCE_TYPE, PREMIUM_AMOUNT, CLAIM_AMOUNT, CUSTOMER_NAME, ADDRESS_LINE1, ADDRESS_LINE2, CITY, STATE, POSTAL_CODE, SSN, MARITAL_STATUS, AGE, TENURE, EMPLOYMENT_STATUS, NO_OF_FAMILY_MEMBERS, RISK_SEGMENTATION, HOUSE_TYPE, SOCIAL_CLASS, ROUTING_NUMBER, ACCT_NUMBER, CUSTOMER_EDUCATION_LEVEL, CLAIM_STATUS, INCIDENT_SEVERITY, AUTHORITY_CONTACTED, ANY_INJURY, POLICE_REPORT_AVAILABLE, INCIDENT_STATE, INCIDENT_CITY, INCIDENT_HOUR_OF_THE_DAY, AGENT_ID, VENDOR_ID, VENDOR_NAME, ADDRESS_LINE1_vend, ADDRESS_LINE2_vend, CITY_vend, STATE_vend, POSTAL_CODE_vend, AGENT_NAME, DATE_OF_JOINING, ADDRESS_LINE1_emp, ADDRESS_LINE2_emp, CITY_emp, STATE_emp, POSTAL_CODE_emp, EMP_ROUTING_NUMBER, EMP_ACCT_NUMBER, COLOCATION]
Index: []

[0 rows x 54 columns]

# Task #6
Business wants to check the Claim Amount for deviation for each transaction, they would
like you to calculate as follow


CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)
/ CURRENT_CLAIM_AMOUNT

If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0

If there is less than 30 days of transaction history THEN
-1

 Note: LAST_30DAYS does not include current day

In [40]:
df = df.sort_values(['INSURANCE_TYPE','TXN_DATE_TIME'])
df['MA_CLAIM_AMOUNT'] = df.groupby("INSURANCE_TYPE")["CLAIM_AMOUNT"].transform(lambda x: x.rolling(30).mean())
df['CLAIM_DEVIATION'] = df['MA_CLAIM_AMOUNT']/df['CLAIM_AMOUNT']

#temp = df[['CLAIM_AMOUNT','MA_CLAIM_AMOUNT','CLAIM_DEVIATION',]].copy()
df['CLAIM_DEVIATION'].fillna(-1,inplace=True)
df['CLAIM_DEVIATION_STATUS'] = df['CLAIM_DEVIATION'].apply(lambda x: 1 if (x<0.5 and x!=-1) else 0 if x>0.5 else -1)

In [42]:
df[['CLAIM_DEVIATION','CLAIM_DEVIATION_STATUS']]

      CLAIM_DEVIATION  CLAIM_DEVIATION_STATUS
0           -1.000000                      -1
3           -1.000000                      -1
6           -1.000000                      -1
12          -1.000000                      -1
20          -1.000000                      -1
...               ...                     ...
9970         0.480000                       1
9972         0.493333                       1
9983         2.433333                       0
9988         2.400000                       0
9991         0.800000                       0

[10000 rows x 2 columns]

# Task #7
Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by
Total Claim Amount Approved under them in descending order

In [30]:
df['INSURANCE_TYPE'].value_counts()

Property    1692
Mobile      1692
Health      1690
Life        1682
Travel      1670
Motor       1574
Name: INSURANCE_TYPE, dtype: int64

In [31]:
df_temp=df.groupby('AGENT_ID').agg({'INSURANCE_TYPE':['nunique'],'CLAIM_AMOUNT':['sum']}).reset_index()
df_temp.loc[df_temp['INSURANCE_TYPE']['nunique']>2].sort_values(('CLAIM_AMOUNT','sum'),ascending=False)

       AGENT_ID INSURANCE_TYPE CLAIM_AMOUNT
                       nunique          sum
806  AGENT00807              6       528800
678  AGENT00679              4       489000
770  AGENT00771              5       422100
124  AGENT00125              4       400400
788  AGENT00789              4       392900
..          ...            ...          ...
909  AGENT00910              3        15500
688  AGENT00689              3        13700
731  AGENT00732              3        11300
705  AGENT00706              3        10800
603  AGENT00604              3         5500

[1164 rows x 3 columns]

# Task #8
Mobile & Travel Insurance premium are discounted by 10%
Health and Property Insurance premium are increased by 7%
Life and Motor Insurance premium are marginally increased by 2%
What will be overall change in % of the Premium Amount Collected for all these Customer?

In [32]:
df.loc[df['INSURANCE_TYPE'] == 'Health', 'PREMIUM_AMOUNT_NEW'] = df['PREMIUM_AMOUNT']*1.07
df.loc[df['INSURANCE_TYPE'] == 'Property', 'PREMIUM_AMOUNT_NEW'] = df['PREMIUM_AMOUNT']*1.07
df.loc[df['INSURANCE_TYPE'] == 'Travel', 'PREMIUM_AMOUNT_NEW'] = df['PREMIUM_AMOUNT']*0.90
df.loc[df['INSURANCE_TYPE'] == 'Life', 'PREMIUM_AMOUNT_NEW'] = df['PREMIUM_AMOUNT']*1.02
df.loc[df['INSURANCE_TYPE'] == 'Motor', 'PREMIUM_AMOUNT_NEW'] = df['PREMIUM_AMOUNT']*1.02
df.loc[df['INSURANCE_TYPE'] == 'Mobile', 'PREMIUM_AMOUNT_NEW'] = df['PREMIUM_AMOUNT']*0.90

In [33]:
prct=((df['PREMIUM_AMOUNT_NEW'].sum()-df['PREMIUM_AMOUNT'].sum())/df['PREMIUM_AMOUNT_NEW'].sum())*100
print("The overall change in % of the Premium Amount Collected for all customers is {:.2f}".format(prct))

The overall change in % of the Premium Amount Collected for all customers is 2.61

# Task #9
Business wants to give discount to customer who are loyal and under stress due to Covid 19. 
They have laid down an eligibility Criteria as follow
IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0

Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it
mean.

In [34]:
df['ELIGIBLE_FOR_DISCOUNT']=np.where((df['TENURE']>60) & (df['EMPLOYMENT_STATUS']=='N') & (df['NO_OF_FAMILY_MEMBERS']>=4),1,0)
print('Mean of column “ELIGIBLE_FOR_DISCOUNT” is :',df['ELIGIBLE_FOR_DISCOUNT'].mean())

Mean of column “ELIGIBLE_FOR_DISCOUNT” is : 0.0299

# Task #10
Business wants to check Claim Velocity which is defined as follow
CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)
/ NO_OF_CLAIMS_IN_LAST3DAYS (for the current insurance type)
Note: LAST30DAYS & LAST3DAYS does not include current
day

In [120]:
df['TXN_DATE'] = pd.to_datetime(df['TXN_DATE_TIME'])
df['COUNT'] = df.groupby(["TXN_DATE","INSURANCE_TYPE"])['INSURANCE_TYPE'].transform(lambda x: x.count())

temp = df[['TXN_DATE','INSURANCE_TYPE','COUNT']]
temp = temp.sort_values(['INSURANCE_TYPE','TXN_DATE'])
#temp = temp.drop_duplicates(['TXN_DATE','INSURANCE_TYPE'])

temp['COUNT_SUM_30'] = temp.groupby("INSURANCE_TYPE")["COUNT"].transform(lambda x: x.rolling(30).sum())
temp['COUNT_SUM_3'] = temp.groupby("INSURANCE_TYPE")["COUNT"].transform(lambda x: x.rolling(3).sum())
#temp 

# #CLAIM_VELOCITY
df[['COUNT_SUM_30','COUNT_SUM_3']] = temp[['COUNT_SUM_30','COUNT_SUM_3']].shift(1)
df['CLAIM_VELOCITY'] = df['COUNT_SUM_30']/df['COUNT_SUM_3']
df['CLAIM_VELOCITY']

0             NaN
3             NaN
6             NaN
12            NaN
20            NaN
          ...
9970     8.750000
9972    11.916667
9983    12.000000
9988    13.090909
9991    14.400000
Name: CLAIM_VELOCITY, Length: 10000, dtype: float64

Here we will be having Nan values for first 30 rows/datas in each group. A group is collection of similar insuarnce type on the same date.

# Task #11
Find all low performing agents i.e. employees who are in the bottom 5 percentile based
on Claims worked by them.

In [35]:
df_low = df.groupby('AGENT_ID')['CLAIM_AMOUNT'].sum().sort_values().reset_index()
df_low.loc[df_low['CLAIM_AMOUNT']<df_low.CLAIM_AMOUNT.quantile(.05)]

      AGENT_ID  CLAIM_AMOUNT
0   AGENT01154           800
1   AGENT01077          4200
2   AGENT00621          5300
3   AGENT00604          5500
4   AGENT01037          5600
5   AGENT00790          6000
6   AGENT00628          6100
7   AGENT00014          7400
8   AGENT00721          9000
9   AGENT00706         10800
10  AGENT00780         11300
11  AGENT00732         11300
12  AGENT00263         11500
13  AGENT00300         12600
14  AGENT00156         13200
15  AGENT00689         13700
16  AGENT00773         15000
17  AGENT00910         15500
18  AGENT00185         16100
19  AGENT00275         16200
20  AGENT00585         16600
21  AGENT00425         17800
22  AGENT00841         17800
23  AGENT00197         18500
24  AGENT00536         20000
25  AGENT00252         20000
26  AGENT00804         20000
27  AGENT00562         21100
28  AGENT00672         21300
29  AGENT00351         21700
30  AGENT00134         22000
31  AGENT00590         22200
32  AGENT00316         22200
33  AGENT00172         22200
34  AGENT00006         22400
35  AGENT00805         22600
36  AGENT00830         23500
37  AGENT00571         24200
38  AGENT00856         24200
39  AGENT01021         24300
40  AGENT01107         24700
41  AGENT00085         25700
42  AGENT00016         27000
43  AGENT01179         27300
44  AGENT01131         27500
45  AGENT00894         27600
46  AGENT00088         27700
47  AGENT00186         27700
48  AGENT01151         28000
49  AGENT01052         28000
50  AGENT01128         28000
51  AGENT00279         28000
52  AGENT00098         28200
53  AGENT00969         28300
54  AGENT00188         28400
55  AGENT00310         28800
56  AGENT00149         28900
57  AGENT00985         30000
58  AGENT00091         30000
59  AGENT00442         30300

In [36]:
df.columns

Index(['TXN_DATE_TIME', 'TRANSACTION_ID', 'CUSTOMER_ID', 'POLICY_NUMBER',
       'POLICY_EFF_DT', 'LOSS_DT', 'REPORT_DT', 'INSURANCE_TYPE',
       'PREMIUM_AMOUNT', 'CLAIM_AMOUNT', 'CUSTOMER_NAME', 'ADDRESS_LINE1',
       'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTAL_CODE', 'SSN',
       'MARITAL_STATUS', 'AGE', 'TENURE', 'EMPLOYMENT_STATUS',
       'NO_OF_FAMILY_MEMBERS', 'RISK_SEGMENTATION', 'HOUSE_TYPE',
       'SOCIAL_CLASS', 'ROUTING_NUMBER', 'ACCT_NUMBER',
       'CUSTOMER_EDUCATION_LEVEL', 'CLAIM_STATUS', 'INCIDENT_SEVERITY',
       'AUTHORITY_CONTACTED', 'ANY_INJURY', 'POLICE_REPORT_AVAILABLE',
       'INCIDENT_STATE', 'INCIDENT_CITY', 'INCIDENT_HOUR_OF_THE_DAY',
       'AGENT_ID', 'VENDOR_ID', 'VENDOR_NAME', 'ADDRESS_LINE1_vend',
       'ADDRESS_LINE2_vend', 'CITY_vend', 'STATE_vend', 'POSTAL_CODE_vend',
       'AGENT_NAME', 'DATE_OF_JOINING', 'ADDRESS_LINE1_emp',
       'ADDRESS_LINE2_emp', 'CITY_emp', 'STATE_emp', 'POSTAL_CODE_emp',
       'EMP_ROUTING_NUMBER', 'EMP_ACCT_NUMBER', 'COLOCATION',
       'PREMIUM_AMOUNT_NEW', 'ELIGIBLE_FOR_DISCOUNT'],
      dtype='object')

# Task #12
Business wants to find all Suspicious Employees (Agents).

IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified as Suspicious ELSE Not

CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High
AND INCIDENT_SEVERITY = “Major Loss”

If Suspicious, then 1 ELSE 0. Find mean of this column.

In [37]:
df['SUSPICIOUS_EMP']=np.where((df['CLAIM_STATUS']=='A') & (df['RISK_SEGMENTATION']=='H') & (df['INCIDENT_SEVERITY']=='Major Loss')& (df['CLAIM_AMOUNT']>=15000),1,0)
print('Mean of column “SUSPICIOUS_EMP” is :',df['SUSPICIOUS_EMP'].mean())

Mean of column “SUSPICIOUS_EMP” is : 0.0152